# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# 2 space indentation
[*]
indent_style = space
indent_size = 2

# Override - 4 space indentation for markdown files
[*.md]
indent_style = space
indent_size = 4
