#####################
## Pipeline stages
#####################

stages:
  - build
  - test

############################
## Jobs for build stage
############################

build-server:
  stage: build
  needs: []
  image: node:16-alpine
  script:
    - yarn install
    - yarn build
  artifacts:
    when: always
    expire_in: 3 days
    name: ${CI_PROJECT_PATH_SLUG}-${CI_COMMIT_REF_SLUG}-${CI_PIPELINE_ID}-${CI_JOB_NAME}
    paths:
      - build/dist

postman-tests:
  stage: test
  needs:
    - build-server
  image: node:16-alpine
  variables:
    ELASTICPATH_CLIENT_ID: $ELASTICPATH_CLIENT_ID
    ELASTICPATH_API_HOST: $ELASTICPATH_API_HOST
  before_script:
    - yarn start&
    - sleep 5 ## Let the server start up
  script:
    - yarn test
  artifacts:
    when: always
    expire_in: 3 days
    name: ${CI_PROJECT_PATH_SLUG}-${CI_COMMIT_REF_SLUG}-${CI_PIPELINE_ID}-${CI_JOB_NAME}
    paths:
      - build/reports
    reports:
      junit:
        - build/reports/postman-collection-report-junit.xml
