#####################
## Pipeline stages
#####################

stages:
  - build
  - test

############################
## Jobs for build stage
############################

build-server:
  stage: build
  needs: []
  image: node:16-alpine
  script:
    - yarn install
    - yarn build

postman-tests:
  stage: test
  needs: []
  image: node:16-alpine
  before_script:
    - echo "ELASTICPATH_CLIENT_ID=${ELASTICPATH_CLIENT_ID}" > .env
    - echo "ELASTICPATH_CLIENT_SECRET=${ELASTICPATH_CLIENT_SECRET}" >> .env
    - echo "ELASTICPATH_API_HOST=${ELASTICPATH_API_HOST}" >> .env
  script:
    - yarn install
    - yarn dev &
    - yarn test
